# Component Testing
none

# System Testing

# Acceptance Testing

The main acceptance testing that we used for our system was the functionality of the newest feature in the system. (For example, when implementing a new feature, such as John Smith's walking when the user presses the left/right arrow keys, we would add the feature to the system and if the feature did not interact with the system as it was intended to, the feature would not be added to the system (which was made very simple using Git and braching), and it would not be accepted as complete. We would judge this based on the acceptance test from the user story (as a baseline) that was created before the feature was created. (In this example an acceptance test for this feature would consist of more or less the following: "John walks left when the left/a key is pressed and he moves right when the right/d key is pressed", etc... etc...) The user stories made it very easy to test new features because the acceptance test was made beforehand and this way we couldn't cheat and say that a new feature was done/complete if it did what it was supposed to do, but it wasn't what we had envisioned/wanted in the first place.


User Stories
------------
1. As a user, I want to be able to see and move around as John Smith, so that I can play the game as John Smith. 

Complete

2. As a user, I want the camera to follow John Smith, so that I can further explore the level.

Complete

3. As a user, I want to be able to fight enemies as John Smith, so that I make progress through the level.

Incomplete

4. As a user, I want to be able to jump over obstacles and traps, so that I make progress through the level.

Incomplete

5. As a user, I want a starting menu, so that I can get a nice first impression of the game.

Complete

6. As a user, I want a pause menu, so that I can take breaks from playing the game.

Complete

7. As a user, I want to hear a funny voice come from John Smith when doing some action, so that I can laugh (or be annoyed) when playing the game.

Incomplete

8. As a user, I want to use weapons to attack enemies to make progress through the level.

Incomplete

9. As a user, I want to be able to restart the level at any given point in case I mess up.

Complete

10. As a user, I want to be able to quit and stop playing when I get frustrated.

Complete
